  body{
    background-color: #f8f9fa;
  }
  .card-deck a{
    text-decoration: none;
    list-style-type: none;
  }

  .container a{
    text-decoration: none;
    list-style: none;
  }

  .post-image{
    width: 100%; height: 400px;
    box-shadow: 1px 1px 10px white, 0 0 10px black, 0 0 10px black;
  }

  .images{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
  }

  .home_title{
     text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px darkgrey;
  }

  ul li .nav-item{
    color: white;
  }

  .pagination-number:hover, .pagination-current {
      background-color: #414348;      
  }

  .page-link{
    color: #0fbd0e;
  }

  .navbar-brand h3{
    color: rgba(0,0,0,.5);
  }

  .dropdown-menu{
     background-color: rgba(0,0,0,.5);
  }

  .dropdown-menu a{
     color: darkgrey;
  }

  .footer-copyright{
    text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px darkgrey;
  }
  .footer-copyright a{
    color: black;
  }

  .container-fluid{
   color: rgba(0,0,0,.5);
  }

  .container-fluid a{
    color: rgba(0,0,0,.5);
  }

  #card-post{
    border: white;
  }
  #card-post:hover{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
  }

  .carousel-caption{
    height: 300px;
  }

  .carousel-caption #caption{
    height: 200px;
  }

  #latest-posts a: hover{
    color: red;
  }
  
  .comments-form{
    padding: 5px;
    box-shadow: 1px 1px 2px white, 0 0 10px white, 0 0 5px darkgrey;
  }

  #side-section{
    border: 1px solid black;
    float: right;
  }