<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
<div class="container">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
  <hr>
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Intelligny</h5>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <p>Dummy content for site testing and performance evaluation</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Useful Links</h5>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 125px;">

        <ul class="list-unstyled">
          <li>
            <i class="fas fa-home"></i>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <i class="fa fa-archive"></i>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <i class="fa fa-picture-o"></i>
            <a href="/gallery/">Gallery</a>
          </li>
          <li>
            <i class="fa fa-info-circle"></i>
            <a href="/blog/about">About</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Contacts</h5>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">

        <ul class="list-unstyled">
          <li>
            <i class="fa fa-map-marker"></i>
            <a href="#">Location</a>
          </li>
          <li>
            <i class="fa fa-phone"></i>
            <a href="#!">Tel</a>
          </li>
          <li>
            <i class="fa fa-envelope"></i>
            <a href="#!">Email</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <hr>
  <!-- Copyright -->
    
  <div class="footer-copyright text-center py-3">©2019 Copyright:
    <a href="{% url 'home' %}" class="text-uppercase"> Intelligny.com</a>
  </div>
  <!-- Copyright -->
</div>
</footer>
<!-- Footer -->